@charset "UTF-8";
:root {
  --sea-blue: #001242;
  --sky-blue: #0094c6;
}

header {
  background-color: var(--sea-blue);
  color: white;
  padding: 10px 20px;
  text-align: center;
}

nav {
  margin: 0.5rem 0;
  display: flex;
  height: 100px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
nav img {
  height: 50px;
}
nav h1 {
  width: 100%;
  font-family: "Permanent Marker", cursive;
  font-weight: 800;
  font-size: xx-large;
  font-style: normal;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 50px;
  margin-right: 10px;
}

.burger-menu {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.burger-menu span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px 0;
  transition: 0.4s;
}

/* Navigation cachée par défaut */
.nav-links {
  display: flex;
  list-style: none;
}

.nav-links li {
  margin: 0 5px;
}

.nav-links a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.hero {
  position: relative;
  background-color: #f0f0f0; /* Couleur de fond temporaire */
}

.hero-nav {
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  justify-content: flex-start;
}

.hero-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 5px;
}

.hero-nav .nav-btn {
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  white-space: nowrap;
  font-family: "Oswald", sans-serif;
  font-size: 2rem;
}

.hero-nav .nav-btn:hover {
  background-color: #0056b3;
}

/* Styles mobiles */
@media (max-width: 768px) {
  .hero-nav {
    -webkit-overflow-scrolling: touch; /* Pour le défilement fluide sur iOS */
  }
}
footer {
  background-color: var(--sky-blue); /* Vert foncé */
  color: white;
  padding: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

:root {
  --sea-blue: #001242;
  --sky-blue: #0094c6;
}

.attractions-grid {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  gap: 1rem;
  padding: 1rem;
  scrollbar-width: none; /* Firefox */
}

.attractions-grid::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}

/* Styles pour les cartes */
.card {
  flex: 0 0 auto;
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #000;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.card h3 {
  font-size: x-large;
}

.card img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-bottom: 1px solid #ddd;
}

.card:hover {
  transform: scale(1.05);
}

/* Styles pour la modale */
.modal {
  display: none; /* Masquée par défaut */
  position: fixed; /* Reste en place */
  z-index: 1000; /* Au-dessus de tout */
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Pleine hauteur */
  overflow: auto; /* Active le défilement si nécessaire */
  background-color: rgba(0, 0, 0, 0.7); /* Fond sombre avec transparence */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% du haut et centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largeur de la modale */
  max-width: 600px; /* Largeur maximale */
  border-radius: 10px;
  position: relative;
  color: #000;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
}

.modal img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal ul li::before {
  content: "• ";
  color: #3e8e41;
}

/* Styles pour la modale */
.modal {
  display: none; /* Masquée par défaut */
  position: fixed; /* Reste en place */
  z-index: 1000; /* Au-dessus de tout */
  left: 0;
  top: 0;
  width: 100%; /* Pleine largeur */
  height: 100%; /* Pleine hauteur */
  overflow: auto; /* Active le défilement si nécessaire */
  background-color: rgba(0, 0, 0, 0.7); /* Fond sombre avec transparence */
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto; /* 10% du haut et centré horizontalement */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Largeur de la modale */
  max-width: 600px; /* Largeur maximale */
  border-radius: 10px;
  position: relative;
  color: #000;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}

.close-button:hover,
.close-button:focus {
  color: #000;
  text-decoration: none;
}

.modal img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

.modal ul li::before {
  content: "• ";
  color: #3e8e41;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Oswald", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: white;
  background: rgb(0, 18, 66);
  background-size: cover;
  background-repeat: no-repeat;
  background: linear-gradient(180deg, var(--sea-blue) 0%, var(--sky-blue) 100%);
}/*# sourceMappingURL=main.css.map */